.question-item {
  background-color: #dfebf1;
  border: 1px solid white;
  border-radius: 5px;
  width: 19%;
  margin-right: 10px;
  margin-top: 5px;
  padding: 5px;
}

.question-heading {
  color: #1f3a48;
  font-size: 18px;
}

.answer {
  color: #1f3a48;
  font-size: 16px;
}
